@model BoniStreaming.ViewModels.CustomerDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.IsSubscribedToNewsletter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSubscribedToNewsletter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.MembershipType)
        </dt>
        <dd>
            @Html.DisplayFor((model => model.MembershipTypeName))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Customer.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
